.Ben{

}
.Ben2{
    
}
.Ben3{

}
.Ben4{

}
.Ben5{

}
.Ben6{

}
.Ben7{

}
.Ben8{

}
.center-text {
  text-align: center;
}
.page1{
  background-color: rgb(74, 187, 224);
  color: 
  
  rgb(255, 255, 255);
}
.page2{
  background-color: rgb(17, 0, 255); 
  color:rgb(247, 247, 242);
}
.page3{
  text-align: center;
  background-color: navy;
  color:beige;
}
.modal-body{
  color: black;
}
.modal-title{
  color: black;
}







 